:root {
  --color-dark1: #212122;
  --color-dark2: #2a2a2b;
  --color-gray1: #3c3f41;
  --color-gray2: #5e5e5f;
  --color-gray3: #939394;
  --color-main: #fdfdfe;
  --color-main2: #b9b9b9;
  --color-blue: #4ba8fe;
  --color-orange: #fdac34;
  --color-aqua: #33fdd9;
  --color-green: #33fd55;
  --color-red: #fd4b4c;
  --shadow-1: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
  --radius-1: 0.5rem;
}
