body {
  height: 100vh;
  background-image: linear-gradient(
                  to top,
                  rgba(43, 43, 44, 0.95),
                  rgba(60, 63, 65, 0.9)
  ), url("../../public/images/bg.jpg");
  background-size: cover;
  font-family: "JetBrainsMonoNL NF", sans-serif;
}