.Navbar {
  display: flex;
  background-color: rgba(var(--color-dark2), 1);
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray2);
}

.LogoText {
  color: var(--color-main);
  font-weight: 500;
  font-size: 2rem;
}